

<link rel="stylesheet" property="stylesheet" href="/patterns/molecules/blockquote/css/blockquote.css">

<blockquote class="blockquote ">
  <p></p>

  <figure class="blockquote__author">
    <img class="blockquote__author__image" src="http://via.placeholder.com/350x350/666666" alt="" />
    <figcaption class="blockquote__author__desc">
      
    </figcaption>
  </figure>

  <img class="blockquote__opening-quote" src="/assets/images/svg/ico-anf-hrung.svg" alt="" />
  <img class="blockquote__closing-quote" src="/assets/images/svg/ico-anf-hrung.svg" alt="" />
</blockquote>
