

<link rel="stylesheet" property="stylesheet" href="/patterns/molecules/pagination/css/pagination.css">

<div class="pagination ">

  <div class="pagination__wrapper pagination--6 pagination--6--left"></div>

  <div class="pagination__wrapper pagination--6 pagination--6--right">
    <a class="pagination__anchor pagination__anchor--prev" href="" rel="prev"><span class="pagination__icon">
      <img class="pagination__icon__svg--left" src="/assets/images/svg/ico-arrow-left.svg" alt="Teilen auf facebook" /></span> zurück</a>
    <a class="pagination__anchor pagination__anchor--next" href="" rel="next">weiter zu  <span class="pagination__icon">
      <img class="pagination__icon__svg--right" src="/assets/images/svg/ico-arrow-right.svg" alt="Teilen auf facebook" /></span>
      </a>
  </div>

</div>
