 {#
@name: pageLabel
*
@description: The Senior Experts label (logo)
*
*
#}

<link rel="stylesheet" property="stylesheet" href="{{ path }}/patterns/atoms/pageLabel/css/pageLabel.css">

 <figure class="pageLabel">
  {# TODO: Set home url #}
  <a href="index.php">
   

  </a>
</figure>
