{#
@name: pageNavigation
*
@description: The navigation for the site. Lives in the control organism
*
*
#}
<link rel="stylesheet" property="stylesheet" href="{{ path }}/patterns/molecules/teaserNavigation/css/teaserNavigation.css">

<section class="teaserNavigation">

  <h1 class="teaserNavigation__headline">Magazine</h1>

  <ul class="teaserNavigation__list teaserNavigation__grid">
    <li class="teaserNavigation__item teaserNavigation__grid--4">
      <a class="teaserNavigation__anchor" href="">
        <figure class="teaserNavigation__teaser">
          <img class="teaserNavigation__teaser__image" src="http://via.placeholder.com/350x150" alt="" />
          <figcaption class="teaserNavigation__teaser__caption">Statischer Navigationspunkt 01</figcaption>
        </figure>
      </a>
    </li>
    <li class="teaserNavigation__item teaserNavigation__grid--4">
      <a class="teaserNavigation__anchor" href="">
        <figure class="teaserNavigation__teaser">
          <img class="teaserNavigation__teaser__image" src="http://via.placeholder.com/350x150" alt="" />
          <figcaption class="teaserNavigation__teaser__caption">Statischer Navigationspunkt 01</figcaption>
        </figure>
      </a>
    </li>
    <li class="teaserNavigation__item teaserNavigation__grid--4">
      <a class="teaserNavigation__anchor" href="">
        <figure class="teaserNavigation__teaser">
          <img class="teaserNavigation__teaser__image" src="http://via.placeholder.com/350x150" alt="" />
          <figcaption class="teaserNavigation__teaser__caption">Statischer Navigationspunkt 01<br>Test</figcaption>
        </figure>
      </a>
    </li>
    <li class="teaserNavigation__item teaserNavigation__grid--4">
      <a class="teaserNavigation__anchor" href="">
        <figure class="teaserNavigation__teaser">
          <img class="teaserNavigation__teaser__image" src="http://via.placeholder.com/350x150" alt="" />
          <figcaption class="teaserNavigation__teaser__caption">Statischer Navigationspunkt 01</figcaption>
        </figure>
      </a>
    </li>
    <li class="teaserNavigation__item teaserNavigation__grid--4">
      <a class="teaserNavigation__anchor" href="">
        <figure class="teaserNavigation__teaser">
          <img class="teaserNavigation__teaser__image" src="http://via.placeholder.com/350x150" alt="" />
          <figcaption class="teaserNavigation__teaser__caption">Statischer Navigationspunkt 01<br>Test<br>Test</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</section>
