{#
@name: brandLogo
*
@description: The brand logo
*
@acceptsParams:
* addClass: $string
*
#}

<link rel="stylesheet" property="stylesheet" href="{{ path }}/patterns/molecules/brandLogo/css/brandLogo.css">

<figure class="brandLogo {{ addClass }}">
  <a href="index.php">
   
  </a>
</figure>
